.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
.login-form__inputForm {
  border: none;
  padding: 15px 0px;
  font-size: 18px;

  margin-bottom: 25px;
}
.login-form__inputForm {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

.login-form__inputForm::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login-form__inputForm:focus {
  border-color: var(--yellow);
}
.login-form__button {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
}
.login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
